---
import iconX from '../../../../assets/images/icon-x.svg';
import iconO from '../../../../assets/images/icon-o.svg';
import iconReload from '../../../../assets/images/icon-reload.png';

import iconOutlineX from '../../../../assets/images/icon-x-outline.svg';
import iconOutlineO from '../../../../assets/images/icon-o-outline.svg';
---

<script>
import TicTacToe from "../../../../js/tictactoe";

const game = new TicTacToe();
game.init();

</script>

<div id="pick-game" class="container" >
    <div class="play-content">
        <div class="logo-content">
            <img src={iconX.src} alt="icon X" width="32">
            <img src={iconO.src} alt="icon O" width="32">
        </div>
        
        <div class="player-content">
            <div class="heading">
                Pick Player I's John Doe
            </div>
    
            <div class="pick-buttons-content">
                <button id="buton-x" class="play-button-tictactoe  transparent button-x">
                    <img src={iconOutlineX.src} alt="icon outline X" width="32px">  
                </button>
    
                <button id="button-o" class="play-button-tictactoe button-o active">
                   <img src={iconOutlineO.src} alt="icon outline O" width="32px"> 
                </button>
            </div>
    
            <div class="underHeading">
                Remember: x Goes first
            </div>
        </div>
    
        <div class="start-player-content">
            <a class="link-to-game-play" href="#start-game"> 
                <button id="vs-cpu" class="new-game-tictactoe ">
                    New Game (VS CPU)
                </button> 
            </a>
    
            <a href="#start-game" class="link-to-game-play">
                <button id="vs-player" class="new-game-tictactoe new-game-tictactoe-light-blue">
                    New Game (VS Player)
                </button>
            </a>
        </div>
    </div>

    <div id="start-game" class="start-game-container-global">
        <div class="start-game-top-panel">
            <div class="start-game-top-panel-logo">
                <img src={iconX.src} alt="icon X" width="32">
                <img src={iconO.src} alt="icon O" width="32">
            </div>

            <div class="start-game-top-panel-turn-container">
                <span class="start-game-turn active">Turn: X</span>
                <span class="start-game-turn">Turn: O</span>
            </div>

            <div class="start-game-top-panel-reload">
                <img src={iconReload.src} alt="icon restart" width="32">
            </div>
        </div>

        <div class="game-board-container">
            <div id="square1" class="square"></div>
            <div id="square2" class="square"></div>
            <div id="square3" class="square"></div>
            <div id="square4" class="square"></div>
            <div id="square5" class="square"></div>
            <div id="square6" class="square"></div>
            <div id="square7" class="square"></div>
            <div id="square8" class="square"></div>
            <div id="square9" class="square"></div>
        </div>

        <div class="start-game-bottom-panel">
            <div class="start-game-bottom-player-x">
                <span>Player X </span>
            </div>

            <div class="start-game-bottom-panel-ties">
                <span>Ties: 0</span>
            </div>

            <div class="start-game-bottom-panel-player-o">
                <span>Player O</span>
            </div>
        </div>
    </div>
</div>

<style lang="scss">
@import '../../../../assets/sass/main.scss';

.container {
    display: flex;
    flex-direction: column;
    row-gap: 200px;
    width: 100vw;
    height: max-content;
    display: flex;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
    background-color: $darkNavy;
    transition: opacity 0.5s ease-in-out;

    &.hidden {
        opacity: 0;
    }

}

.link-to-game-play {
    scroll-behavior: smooth;
    width: 400px;
}

.play-content {
    display: flex;
    width: 460px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.logo-content {
    display: flex;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

.player-content {
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    background-color: $semiDarkNavy;
    box-shadow: 4px 4px 0px 4px rgba(0,0,0,0.5);
}

.heading {
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 16px;
    color: $silver;
    text-align: center;
    
}

.pick-buttons-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 3px 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    box-shadow: 4px 4px 0px 4px rgba(0,0,0,0.5);
    border-radius: 15px;
    background-color: $darkNavy;
}

.underHeading {
    text-transform: uppercase;
    color: $silver;
    text-align: center;
    font-size: $bodyGame;
    
}

.start-player-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.start-game-container-global {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 50vh;
    align-items: center;
    justify-content: center;
}

.start-game-top-panel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border-radius: 15px;
    background-color: $semiDarkNavy;
    box-shadow: 4px 4px 0px 4px rgba(0,0,0,0.5);
}

.start-game-top-panel-logo {
    display: flex;
    gap: 16px;
}

.start-game-top-panel-turn-container {
    display: flex;
    gap: 16px;

    .start-game-turn {
        color: $silver;
        font-size: $bodyGame;

        &.active {
            color: $lightBlue;
        }
    }
}

.start-game-top-panel-reload {
    cursor: pointer;
    color: $silver;
    background-color: $silver;
    border-radius: 50%;

    &:hover {
        background-color: $lightBlue;
        scale: 1.1;
    }
}

.game-board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 480px;
    height: 480px;
    padding: 16px;
    border-radius: 15px;
    background-color: $semiDarkNavy;
    box-shadow: 4px 4px 0px 4px rgba(0,0,0,0.5);
    margin-bottom: 24px;
}

.square {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    background-color: $semiDarkNavy;
    box-shadow: 4px 4px 0px 4px rgba(0,0,0,0.5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: $silver;
    transition: background-color 0.5s ease-in-out;

    &:hover {
        background-color: $darkNavy;
    }
}

.start-game-bottom-panel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border-radius: 15px;
    background-color: $semiDarkNavy;
    box-shadow: 4px 4px 0px 4px rgba(0,0,0,0.5);
}

.start-game-bottom-player-x {
    color: $black;
    font-size: $bodyGame;
    font-weight: 600;
    padding: 24px;
    border-radius: 15px;
    background-color: $lightBlue;
}

.start-game-bottom-panel-ties {
    color: $black;
    font-size: $bodyGame;
    font-weight: 600;
    padding: 24px;
    border-radius: 15px;
    background-color: $silver;
}

.start-game-bottom-panel-player-o {
    color: $black;
    font-size: $bodyGame;
    font-weight: 600;
    padding: 24px;
    border-radius: 15px;
    background-color: $lightYellow;
}
</style>